<div class="container">
  <% @user.each do |user| %>
    <ul>
      <div class="user-panel" id=<%=user[:id]%>>
        <li class="profile-img">
          <h4>image<%=user[:pic]%></h4>
        </li>
        <div class="user-name">
          <li>
            <h3>
              <a href="/users/<%=user[:id]%>">
                <%=user[:name]%>
              </a>
            </h3>
          </li>
          <p>Number of posts: <%=user[:posts_counter]%></p>
        </div>
        <hr>
      </div>
    </ul>
  <% end %>
</div>
