<div class="container">
  <h1>User page</h1>
  <div>
    <% @user %>
    <ul>
      <div class="user-panel shadow p-3 mb-5 bg-white roundedd">
        <li class="profile-img">
          <h4>image <%= @user[:pic] %></h4>
        </li>
        <div class="user-name">
          <li>
            <h3>
              <a href="/user/<%=@user[:id]%>"><%= @user.name %></a>
            </h3>
          </li>
        </div>
        <div class="p">
          <p>Number of posts: <%= @user.posts_counter %></p>
        </div>
      </div>
    </ul>
  </div>
  <div class="shadow p-3  bg-white rounded my-5">
    <p>Bio:</p>
    <p><%=@user[:bio]%></p>
  </div>
</div>
<div class="container">
  <h3 class="m-3">Posts:</h3>
  <%= render partial: 'posts/posts', locals: {posts: @posts} %>
</div>
