<% path = request.path.split("/") %>
<% user_id = path[-2] %>
<% user = User.find(user_id) %>
<% user_posts = Post.where(author_id: user.id) %>
<section class="posts container">
  <div class="user-panel shadow p-3 mb-5 bg-white rounded" id=<%= user[:id] %>>
    <li class="profile-img">
      <img class='profile-img' src="<%= user[:photo] %>">
    </li>
    <div class="user-name">
      <li>
        <h3>
          <a href="/user/<%= user[:id] %>">
            <%= user[:name] %>
          </a>
        </h3>
      </li>
    </div>
    <div class="p">
      <p>Number of posts: <%= user[:posts_counter] %></p>
    </div>
    <hr>
  </div>
  <% user_posts.each do |post| %>
    <ul class="d-flex flex-column border border-dark justify-content-between shadow p-3 mb-0 mt-5 bg-white rounded">
      <li>
        <h3>
          <a href="/user/<%= user.id %>/posts/<%= post.id %>"><%= post.title %></a>
        </h3>
        <p><%= post.text %></p>
      </li>
      <li class="mt-auto align-self-end">
        <p>Comments:<%= post.comments_counter %>, Likes: <%= post.likes_counter %></p>
      </li>
    </ul>
    <ul class="comments d-flex flex-column border border-dark justify-content-between shadow p-3  bg-white rounded">
      <% post.recent_5_comments.includes([:author]).each do |comment| %>
        <li>
          <p><%= comment.author.name %>: <%= comment.text %></p>
        </li>
      <% end %>
    </ul>
  <% end %>
</section>
